## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [24]:
import pandas as pd
import numpy as np

In [25]:
data = {'國家': ['Taiwan', 'USA', 'Thailand'],
        '人口': [np.random.randint(999999999), np.random.randint(999999999), np.random.randint(999999999)]}
data = pd.DataFrame(data)

In [26]:
data

         國家         人口
0    Taiwan  154437402
1       USA  465087920
2  Thailand  849677445

In [32]:
data.groupby('人口').max()

                 國家
人口
154437402    Taiwan
465087920       USA
849677445  Thailand